[user]
	email = benjamin.frazer.1997@gmail.com
	name = Ben F
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	t = log --oneline --graph --decorate --all -40
[safe]
	directory = /home/gloin/repos/trs_mono-ben.f-calibration_fixed
	directory = /home/gloin/repos/trs_mono
	directory = /home/gloin/repos/trs_mono-origin-ben.f-fpga_dsp_interface
	directory = /home/gloin/repos/trs_mono-origin-ben.f-fpga_dsp_interface
	directory = /home/gloin/repos/trs_mono-origin-ben.f-fpga_dsp_interface
[core]
	editor = vim
